@page
@model Projeto_Net.Pages_Reclamacoes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@inject SignInManager<IdentityUser> SignInManager

@if(SignInManager.IsSignedIn(User)){
    <h1>Portal de Recamações</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].NomeConsumidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].TextoReclamacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].CaminhoFicheiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].NomeOriginalFicheiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].DataEncerramento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamacao[0].RespostaAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reclamacao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeConsumidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoReclamacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaminhoFicheiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeOriginalFicheiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEncerramento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespostaAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaminhoFicheiroAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeOriginalFicheiroAdmin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReclamacaoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReclamacaoID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>

}else{

}